
.tweet-input {
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 0px;
    align-items: stretch;
    padding: 5px;
    position: static;
    width: 100%;
}

.tweet-text-editor {
    width: 520px;
    font-size: 19px;
    padding: 10px 0;
    align-items: center;
}

.contenteditable {
    display: block;
    max-height: 38.0625em;
    min-height: 1.3125em;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    width: 100%;
    color: black;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    cursor: text;
    color: darkgrey;
}

.contenteditable:focus {
    outline: 0px solid transparent;
}

.btn-tweet {
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 30px;
}

.icon-container {
    outline: none;
    margin-left: -10px;
    min-width: 39px;
    min-height: 39px;
    transition-property: background-color;
    transition-duration: 0.2s;
    order: 1px solid transparent;
    border-radius: 9999px;
    cursor: pointer;
}

.icon-container:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.icon-container:active {
    background-color: rgba(29, 161, 242, 0.2);
}

.icon-box {
    line-height: 1;
    font-weight: bold;
    font-size: 15px;
    min-width: 20px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    color: rgba(29,161,242,1.00);
    max-width: 100%;
}

.data-icon {
    display: inline-block;
    height: 1.5em;
    flex-shrink: 0;
    fill: currentColor;
}
