<main>
    <div class="main-contents">
        <div class="section-container">
            <section class="tweet-section">
                <div class="border-bottom">
                    <div id="home-text">
                        Home
                    </div>
                </div>
                <div class="tweet-input-container border-bottom">
                    <app-tweet-input (tweetSubject)="postTweet($event)"></app-tweet-input>
                </div>
                <div class="border-bottom py-1" style="background-color: rgb(230, 236, 240);">
                </div>
                <div class="tweet-list-container">
                  <div *ngFor="let tweet of tweets">
                    <app-tweet [tweet]="tweet"></app-tweet>
                  </div>
                </div>
            </section>

            <section class="sub-section">
                <div class="search-bar-container">
                    <app-search-bar></app-search-bar>
                </div>
                <div class="mt-3 grey-pane" style="height: 400px;">
                    <div style="font-size: 20px" class="font-weight-bold">
                        Trends
                    </div>
                </div>
                <div class="mt-3 grey-pane" style="height: 300px;">
                    <div style="font-size: 20px" class="font-weight-bold">
                        Who to follow
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
