<div class="mt-3 grey-pane" style="height: 400px;">
  <div style="font-size: 20px" class="font-weight-bold">
      Terminal
  </div>
  <div>Background color</div>
  <div class="color-picker-container">
    <input [(colorPicker)]="backgroundColor" [style.background]="backgroundColor" (colorPickerChange)="onBackgroundColorChange($event)" />
  </div>
  <div>Text color</div>
  <div class="color-picker-container">
    <input [(colorPicker)]="textColor" [style.background]="textColor" (colorPickerChange)="onTextColorChange($event)" />
  </div>
</div>
