main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    width: 100%;
}

.main-contents {
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    width: 990px;
    min-height: 100%;
}

.section-container {
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 100%;
}

.tweet-section {
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 600px;
    flex-grow: 1;
    flex-shrink: 1;
}

.sub-section {
    flex-direction: column;
    height: 100%;
    width: 350px;
}

.border {
    border: 1px solid lightgrey;
}



.tweet-input {
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 0px;
    align-items: stretch;
    padding: 5px;
    position: static;
    width: calc(100% - 100px);
}

.tweet-text-editor {
    width: 100%;
    font-size: 19px;
    padding: 10px 0;
    align-items: center;
}

.contenteditable {
    display: block;
    max-height: 38.0625em;
    min-height: 1.3125em;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    width: 100%;
    color: black;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    cursor: text;
    color: darkgrey;
}

.contenteditable:focus {
    outline: 0px solid transparent;
}

.btn-tweet {
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 30px;
}

app-tweet {
    flex-grow: 1;
}