<div class="flex-row">
    <div class="flex-column h-100" style="width: 600px;">
        <div style="height: 100px; background-color: lightcoral;">
            Top
        </div>
        <div style="height: 100px; background-color: lightcyan;">
            Input
        </div>
        <div class="flex-basis" style="background-color: lightgoldenrodyellow;">
            List
        </div>
    </div>
    
    <div class="flex-column h-100" style="width: 200px;">
        <div style="height: 100px; background-color: lightgreen;">
            Search
        </div>
        <div style="height: 600px; background-color: lightsalmon;">
            Trends
        </div>
    </div>
</div>