/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
html {
  height: 100%;
}
body {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: row;
}

div {
  display: flex;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-tweet {
  color: #fff;
  display: flex;
  background-color: rgb(29, 161, 242);
  border: 1px solid rgb(29, 161, 242);
  justify-content: center;
  align-items: center;
}

.btn-tweet > div {
  font-weight: bold;
  color: white;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.btn-tweet:hover,
.btn-tweet:focus,
.btn-tweet:active {
  background-color: rgb(26,144,217);
  border: 1px solid rgb(26,144,217);
}

.btn-tweet:active {
  background-color: rgb(23,128,193);
  border: 1px solid rgb(23,128,193);
}

app-home {
  flex-grow: 1;
  flex-shrink: 1;
}

.modal-content, app-tweet-modal {
  width: 606px;
  border-radius: 20px;
}

.fade {
  transition: none;
}

.color-picker,
color-picker .right,
color-picker .cursor {
  display: block;
}


