.modal-header {
    justify-content: flex-start;
}

.modal-body {
    padding: 5px 15px;
    height: 250px;
}

.close {
    color: rgb(29, 161, 242);
    margin: -1rem auto -1rem -1rem ;
}

.close:focus {
    outline: none;
}

app-tweet-input {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}
