<div class="cli-container" [@openClose]="terminalOn ? 'open' : 'closed'"
      [style.background]="backgroundColor" (click)="focusOnInput()">
  <div class="flex-column w-100" *ngFor="let item of history; let i=index">
    <div class="line" [style.color]="textColor">
      <label for="" style="width: max-content;" class="mr-2">your-twitter-account:~$</label>{{ item.command }}
    </div>
    <div class="line" [style.color]="textColor" *ngIf="item.result" >
        {{ item.result }}
    </div>
  </div>
  <div class="flex-row w-100 pb-2" [style.color]="textColor">
    <div class="flex-grow-1">
      <label style="width: max-content;" class="mr-2">your-twitter-account:~$</label>
    </div>
    <div *ngIf="additionalLabel" class="pr-1">
      <label style="width: max-content;" class="mr-1">{{ additionalLabel }}:</label>
    </div>
    <div #cliInput id="cli-input" contenteditable="true"
      (keydown.enter)="onEnter()" (keydown.control.c)="onAbort()" ></div>
  </div>
</div>
